.orders{
    width: 100%;
    max-width: 1120px;
    margin: 0rem auto 0;
    padding: 0 0.5rem;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    margin-top: 0.5rem;
    text-align: start;
}

.thead{
    background: var(--pink-300) ;
    border-radius: 8rem;
}

.th{
    text-align: start;
    padding: 1.25rem 2rem;
    &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

td {
    padding: 1.25rem 2rem;
    background: var(--gray-800);
    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
}

.pagination{
    width: 100%;
    max-width: 1120px;
    margin: 0rem auto 0;
    padding: 0 0.5rem;
}

.outcome{
    color: red;
    font-weight: bold;
}

.income{
    color: green;
    font-weight: bold;
}

.outcomeTag{
    background: red;
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem;
}


.incomeTag{
    background: green;
    color: #fff;
    border-radius: 8px;
    padding: 0.5rem;
}

.searchInput {
    flex: 1;
    background-color: var(--gray-800);
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    padding: 0.5rem;
    &::placeholder {
      color: var(--gray-300);
    }
}

.search {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.searchButton {
    padding: 0.5rem;
    border: 0;
    background: var(--pink-300);
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
    &:not(:disabled):hover {
      background: var(--pink-500);
      transition: background-color 0.2s;
    }
  }
